.features {
    padding: 120px 156px;
}

.features-title {
    margin-bottom: 72px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-subtitle {
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 8px;
}

.features-text {
    line-height: 1.5;
}